/* Alexander Marshall */

h1 {
	color: white;
}

h2, h3 {
	color: white;
}

body {
	background-color: #2A2A2A;
}

.b {
	color: black;
	background-color: #d6c755;
	margin: 7px;
	width: 100px;
	height: 100px;
}

.buttons {
	width: 400px;
}

#reset {
	padding: 7px;
	border-radius: 10px;
	margin-left: 7px;
	margin-top: 7px;
}

#newgame {
	padding: 7px;
	border-radius: 10px;
	margin-left: 10px;
}
