h1 {
	color: white;
}

h2, h3 {
	color: white;
}

body {
	background-color: #2A2A2A;
}

#b0, #b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8 {
	color: black;
	background-color: #d6c755;
	margin: 7px;
	width: 100px;
	height: 100px;
}

.buttons {
	width: 400px;
}

#reset {
	padding: 7px;
	border-radius: 10px;
	margin-left: 7px;
}

#newgame {
	padding: 7px;
	border-radius: 10px;
	margin-left: 10px;
}
